$menu-background-color: #f6f9fc;

.menus {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: $menu-background-color;
    overflow: hidden;
    transform: translate(0, -100%);
    transition: box-shadow 0.25s ease-in-out;
    z-index: 2;

    &.menu-closing {
        animation: menu-close-transform 0.6s ease-in-out forwards;
    }

    body.navigation-open & {
        animation: menu-open-transform 0.6s ease-in-out forwards, menu-open-background 0.6s 0.3s ease-in-out forwards;
        box-shadow: $box-shadow-5;

        .container {
            animation: menu-open-container-opacity 0.3s ease-in forwards 0.6s;
        }
    }
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: $menu-background-color;
    opacity: 0;
    z-index: -1;
    cursor: pointer;
    transition: opacity 0.6s ease-in-out;

    body.navigation-open & {
        opacity: 0.3;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 8em;
    width: 100%;
    height: 100%;
    min-height: 800px;
    max-height: 100%;
    overflow: auto;
    background: $menu-background-color;
    outline: none;
    //color: #fff;

    @media (max-height: 850px) {
        padding-bottom: 10em;
    }
    @media (max-height: 700px) {
        padding-bottom: 20em;
    }

    &.menu-open {
        z-index: 2;

        .group > * {
            opacity: 0;
            animation: menu-group 0.3s ease-in-out forwards;

            @for $i from 0 to 10 {
                &:nth-child(#{$i}) {
                    animation-delay: 0.15s * $i;
                }
            }
        }
    }

    .flickity-viewport {
        width: 100%;
    }

    .container {
        padding: 1em;
        opacity: 0;
        max-width: $container-width;
    }

    .group {
        align-items: stretch;
        justify-content: flex-start;

        .menu-section {
            width: 25%;
            padding: 1em;
            margin-bottom: 3em;

            @media (max-width: 1150px) {
                width: 33.333%;
            }
        }

        &[data-count="1"] .menu-section {
            width: 100%;
        }
        &[data-count="2"] .menu-section {
            width: 50%;
        }
        &[data-count="3"] .menu-section {
            width: 33.333%;
        }
}


    .buttons {
        margin-top: 1em;

        .button:hover,
        .button:focus {
            background: rgba(0,0,0,0.1);
        }
    }

    input[type="text"] {
        padding: 1em 2em;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        font-size: 1.25rem;
        font-family: inherit;
        line-height: inherit;
        width: 100%;
        background: $color-grey-2;
        border-radius: 5rem;
        border: 2px solid #fff;
        outline: none;

        &:focus {
            border-color: $color-3;
            background: $color-grey-1;
        }
    }

    h2 {
        padding: 1rem;
    }

    h3 {
        //font-size: 1.25rem;
        //text-transform: uppercase;

        a {
            color: $color-6;
            text-decoration: none;
            transition: $transition-1;

            &:hover,
            &:focus {
                color: $color-1;
            }
        }
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {

        }

        a:not(.button) {
            position: relative;
            font-size: 1.25rem;
            overflow-wrap: break-word;
            text-decoration: none;
            color: $color-0;
            transition: $transition-1;

            &:hover,
            &:focus {
                color: $color-1;
            }
        }

        a.button {
            font-size: 1.25rem;
        }
    }

    .menu-actions {
        width: 100%;
        padding: 0 1em;
        //margin-top: 3em;

        & ~ .menu-section {
            margin-top: 3em;
        }
    }

    .menu-summary {
        padding: 1em;
        padding-top: 0;
        margin-bottom: 1em;
    }

    @keyframes menu-open-transform {
        from { transform: translate(0, -100%);}
        to { transform: translate(0, -0);}
    }

    @keyframes menu-open-background {
        from {background: $menu-background-color}
        to {background: #fff;}
    }

    @keyframes menu-close-transform {
        from { transform: translate(0, 0); }
        to { transform: translate(0, -100%); }
    }

    @keyframes menu-open-container-opacity {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    @keyframes menu-group {
        from {
            opacity: 0;
            transform: translate(0, -25%)
        }
        to {
            opacity: 1;
            transform: translate(0, 0)
        }
    }

}
