.books {

    .container {

    }

    .group {

    }

    .menu &.books-menu {
        justify-content: space-between;

        .menu-section {
            width: 45%;
        }

        .book-item {
            width: calc(33.333% - 2em);
        }
    }

    .book-list {
        margin: 0 -1em;
    }

    .book-item {
        width: calc(25% - 2em);
        margin: 1em;
        text-decoration: none;
        color: inherit;

        .cover {

            img {
                width: 100%;
            }
        }

        .details {
            margin-top: 1em;
        }
    }
}
