$button-color: #fff;
$button-background: $color-4;

/* Button Styling */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;


    &-center {
        justify-content: center;

        .button + .button {
            margin-left: 1em;
        }
    }

    &-right {
        justify-content: flex-end;
    }

}



.button {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0.875em 1.25em;
    background: $button-background;
    color: $button-color;
    border-radius: 0.25em;
    line-height: 1.5;
    transition: 150ms ease;
    text-decoration: none;
    user-select: none;
    cursor: pointer;

    + .button {
        margin: 0 0 0 1em;
    }

    &:hover,
    &:focus {
        background: lighten($button-background, 10%);
        box-shadow: $box-shadow-2;
    }

    &:active {
        background: darken($button-background, 10%);
        box-shadow: $box-shadow-2;
        transform: translateY(1px);
    }

    i + span {
        margin-left: 0.5em;
    }

    span + i {
        margin-left: 1em;
    }

    // Unique styles
    &-reverse {
        background: #fff;
        color: $button-background;
    }
    &-ghost {
        background: transparent;
        color: $button-background;
        border: 1px solid $button-background;
    }
    &-secondary {
        color: inherit;
        background: $color-grey-1;
    }
    &-text {
        color: $color-1;
        background: transparent;
    }

    &-size-small {
        font-size: 0.875rem;
    }

    &-one{
        background: $color-1;
        color: #fff;

        &:hover,
        &:focus {
            background: lighten($color-1, 5%);
        }
    }

    &-two {
        background: $color-2;
        color: $color-6;

        &:hover,
        &:focus {
            background: lighten($color-2, 5%);
        }
    }

    &-three {
        background: $color-3;
        color: $color-6;

        &:hover,
        &:focus {
            background: lighten($color-3, 5%);
        }
    }

    &-four {
        background: $color-4;

        &:hover,
        &:focus {
            background: lighten($color-4, 5%);
        }
    }

    &-five {
        background: $color-5;
        color: $color-6;

        &:hover,
        &:focus {
            background: lighten($color-5, 5%);
        }
    }

    &-six {
        background: $color-6;

        &:hover,
        &:focus {
            background: lighten($color-6, 10%);
        }
    }

    @media (max-width: 768px) {
        &,
        + &{
            margin: 0 1em 1em 0;
        }
    }
}

button.button,
input[type="submit"].button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: $button-color;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
