.carousel {
    user-select: none;

    .container {
        padding: 0;
        padding-top: 1em;
    }

    .group {

    }

    .flickity-viewport {
        width: 100%;
        box-shadow: $box-shadow-5;
        border-radius: 0.125em;
    }

    .flickity-prev-next-button {
        transform: none;
        background: none;
        box-shadow: none;

        &.next {
            top: auto;
            bottom: 0.5em;
            right: 0.5em;
        }

        &.previous {
            top: auto;
            bottom: 0.5em;
            right: calc(44px + 0.5em);
            left: auto;
        }

        &[disabled] {
            display: none;
        }
    }

    .flickity-page-dots {
        bottom: 1em;
        left: 1em;
        width: auto;
    }

    .slide {
        user-select: none;
        width: 100%;
        position: relative;
        outline: none;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;
        background: #fff;

        a {
            user-select: none;
            text-decoration: none;
        }

        img {
            user-select: none;
            width: 100%;
            height: auto;
        }

        &.is-selected {

            .cover {
                filter: grayscale(0);
                opacity: 1;
            }

            .info,
            .title,
            .description,
            .button {
                animation: fade-in-up 600ms ease-in-out forwards;
            }

            @keyframes fade-in-up {
                to {
                    opacity: 1;
                    transform: translate(0, 0);
                }
            }
        }

        .cover {
            flex: 1;
            box-shadow: $box-shadow-5;
            filter: grayscale(1);
            opacity: 0;
            transition: filter 800ms ease-in-out, opacity 250ms ease-in-out;
        }

        .info {
            flex: 1.618;
        }

        .details {
            padding: 5em;
        }

        &:nth-of-type(even) {
            flex-flow: row-reverse wrap;

            .cover {

            }

            .info {

            }
        }

        .info,
        .title,
        .description,
        .button {
            opacity: 0;
            transform: translate(0, 1em);
        }

        .title {
            @include fluid('font-size', 1.75rem, 3rem);
            transition: $transition-2;
            color: $color-6;
        }

        .description {
            color: $color-6;
            font-weight: 500;
            margin-bottom: 1em;
            transition: $transition-2;

            p {
                @include fluid('font-size', 1.25rem, 1.625rem);
                margin-bottom: 0.25em;
                font-weight: 500;
            }
        }

        .button {
            margin: 0.5em 0;
            transition: $transition-2;
        }
    }
    @media (max-width: 900px) {

    }

    @media (max-width: 600px) {

    }

}
