.carousel {
    user-select: none;

    .container {
        padding: 0;
        padding-top: 1em;
    }

    .group {
        box-shadow: $box-shadow-5;
        border-radius: 0.125em;
        overflow: hidden;
    }

    .flickity-viewport {
        width: 100%;
    }

    .slide {
        user-select: none;
        width: 100%;
        position: relative;
        outline: none;

        a {
            user-select: none;
            text-decoration: none;
        }

        img {
            user-select: none;
            width: 100%;
            height: auto;
        }

        .info {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            padding: 2em;
            background: #f6f9fc;
            background: linear-gradient(to top right, rgba(#f6f9fc, 0.75), transparent);
        }

        .title {
            margin: 0;
            @include fluid('font-size', 1.75rem, 3rem);
            font-weight: 600;
        }

        .description {
            @include fluid('font-size', 1rem, 1.5rem);
            color: $color-6;
            font-weight: 500;
            margin-bottom: 0.5em;
        }

        .button {
            margin: 0.5em 0;
        }
    }
    @media (max-width: 900px) {

    }

    @media (max-width: 600px) {

    }

}
