.features {

    .container {

    }

    .group {
        margin: 0 -1em;

        @media (max-width: 768px) {
            margin: 0;
        }
    }

    .flickity-viewport {
        width: 100%;
        margin: 1em 0;
    }

    .flickity-prev-next-button {

        &.next {
            top: 100%;
            right: 0;
        }

        &.previous {
            top: 100%;
            right: 44px;
            left: auto;
        }

        &[disabled] {
            display: none;
        }
    }

    .item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //max-width: 330px;
        //width: 100%;
        width: calc(25% - 2em);
        margin: 3em 1em;
        padding: 2em;
        min-height: 500px;
        text-decoration: none;
        color: inherit;
        background: $color-1;
        transition: $transition-1;

        &:nth-of-type(1),
        &:nth-of-type(7) {
            background: $color-2;
            background: linear-gradient(45deg, darken($color-2, 6%), $color-2);
        }
        &:nth-of-type(2),
        &:nth-of-type(8) {
            background: $color-3;
            background: linear-gradient(45deg, darken($color-3, 6%), $color-3);
        }
        &:nth-of-type(3),
        &:nth-of-type(9) {
            background: $color-5;
            background: linear-gradient(45deg, darken($color-5, 6%), $color-5);
        }

        &:nth-of-type(4),
        &:nth-of-type(10) {
            background: $color-1;

            h2 {
                color: darken($color-6, 5%);
            }

            .summary {
                color: darken($color-0, 15%);
            }

            background: linear-gradient(45deg, darken($color-1, 6%), $color-1);
        }

        &:nth-of-type(5),
        &:nth-of-type(11) {
            background: $color-4;

            .title h2,
            .title .icon {
                color: rgba(255,255,255,0.85);
            }

            .summary {
                color: rgba(255,255,255,0.75)
            }
        }

        &:nth-of-type(6),
        &:nth-of-type(12) {
            background: $color-6;

            .title h2,
            .title .icon {
                color: rgba(255,255,255,0.85);
            }

            .summary {
                color: rgba(255,255,255,0.65)
            }
        }

        &:hover,
        &:focus {
            box-shadow: $box-shadow-5;
            transform: translate(0, -1em);

            .arrow {
                opacity: 1;
                transform: translate(0, 50%);
            }
        }


        .title {

            .icon {
                font-size: 2rem;
                margin-bottom: 2em;
                color: $color-6;
            }

        }

        .summary {

        }

        .arrow {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            color: $color-6;
            text-align: center;
            transform: translate(-1em, 50%);
            opacity: 0;
            transition: $transition-1;
        }
    }

}
