.section-heading{
    width: 100%;
    max-width: $container-width;
    margin: 1em auto;
    margin-bottom: 3em;
    text-align: center;

    h2 {
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    p {
        @include fluid('font-size', 1.125rem, 1.25rem);
    }

}
